.contenedorPerfil{
    padding-top: 3rem;
}
.contenedorPerfil > img{
    width: 14rem;
}
.contenedorPerfil > label{
    font-size: .9rem!important; 
}
.contenedorDatosPerfil > label{
    font-size: 1rem!important; 
}
.iconoSeccionPerfil{
    height: auto;
    border-right: 1px solid var(--body-color);
    margin-top: 23px;
}



.iconoSeccionPerfil > span{
    color: var(--body-color);
}

.parrafoPerfil{
    height: inherit;
    color: var(--body-color);
}

.parrafoPerfil{
    margin-top: 23px;
    font-size: 1rem!important; 
}

.parrafoPerfil > label{
    font-size: 1rem!important; 
}


.tituloUsuario{
    font-weight: bold;
    text-align: center;
    font-size: 16px; 
    font-size: 1.5rem;
    padding-top: 10px;
    font-family: 'Bebas Neue', cursive;
    margin: auto;
}

/* ZONA DE INPUT STYLE */


.input-group {
    display: block!important;
    width: 441px!important;
    max-width: 100%!important;
    height: 65px!important;
    border: 0!important;
    background-color: #ffffff!important;
    border-bottom-left-radius: 41px!important;
    border-bottom-right-radius: 41px!important;
    border-top-left-radius: 41px!important;
    border-top-right-radius: 41px!important;
    box-shadow: 0 17px 40px 0 rgba(75, 128, 182, 0.07)!important;
    margin-bottom: 22px!important;
    position: relative!important;
    font-size: 17px!important;
    color: #a7b4c1!important;
    transition: opacity 0.2s ease-in-out, filter 0.2s ease-in-out,
      box-shadow 0.1s ease-in-out!important;
  }
  
  .input-group:hover {
    box-shadow: 0 14px 44px 0 rgba(0, 0, 0, 0.077)!important;
  }
  
  .input-group input {
    position: absolute!important;
    border: 0!important;
    box-shadow: none!important;
    background-color: rgba(255, 255, 255, 0)!important;
    top: 0!important;
    height: 65px!important;
    width: 100%!important;
    padding: 0 53px!important;
    box-sizing: border-box!important;
    z-index: 3!important;
    display: block!important;
    color: var(--body-color);;
    font-size: 17px!important;
    font-family: "Oxygen", sans-serif!important;
    transition: top 0.1s ease-in-out!important;
  }
  
  .input-group input::placeholder {
    color: rgba(0, 0, 0, 0)!important;
  }
  
  .input-group input:focus,
  .input-group input:not(:placeholder-shown) {
    top: 17px!important;
  }
  
  .input-group label {
    position: absolute!important;
    border: 0!important;
    top: 0!important;
    left: 0!important;
    right: 0!important;
    bottom: 0!important;
    z-index: 2!important;
    display: flex!important;
    align-items: center!important;
    padding: 0 53px!important;
    box-sizing: border-box!important;
    transition: all 0.1s ease-in-out!important;
    cursor: text!important;
  }
  
  .input-group input:focus + label,
  .input-group input:not(:placeholder-shown) + label {
    bottom: 20px!important;
    font-size: 13px!important;
    opacity: 0.7!important;
  }
  